<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <link href="/application.css" media="all" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "footer" -%>
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
